= render 'header'

.topPage
  .topPage__top
    .topPage__top__title
      VUCAMP
  
  .topPage__main
    .topPage__main__centerBtn
      .topPage__main__centerBtn__title
        = link_to vucamp_camps_path do
          .topPage__main__centerBtn__title__top
            SEARCH
          .topPage__main__centerBtn__title__under
            CAMP場を探す

= render 'footer'