.topPage
  .topPage__top
    .topPage__top__title
      VUCAMP
  
  .topPage__main
    .topPage__main__centerBtn
      .topPage__main__centerBtn__title
        = link_to vucamp_camps_path do
          .topPage__main__centerBtn__title__top
            SEARCH
          .topPage__main__centerBtn__title__under
            CAMP場を探す


.campIndex
  .campIndex__box
    - @camps.each do |camp| 
      .campIndex__box__url
        = link_to camp_path(camp) do
          .campIndex__box__name
            = camp.campName

.goNewPage
  = link_to new_camp_path do
    CAMP場登録へ

