.newPage
  .newPage__title
  .newPage__formbox
    .newPage__formbox__campname
      .newPage__formbox__campname__title
      .newPage__formbox__campname__form
    .newPage__formbox__address
      .newPage__formbox__address__title
      .newPage__formbox__address__form
    .newPage__formbox__capacity
      .newPage__formbox__capacity__title
      .newPage__formbox__capacity__form
    .newPage__formbox__price
      .newPage__formbox__price__title
      .newPage__formbox__price__form
    .newPage__formbox__workhour
      .newPage__formbox__workhour__title
      .newPage__formbox__workhour__form
    .newPage__formbox__nearstore
      .newPage__formbox__nearstore__title
      .newPage__formbox__nearstore__form
    .newPage__formbox__level
      .newPage__formbox__level__title
      .newPage__formbox__level__form
    .newPage__formbox__image
      .newPage__formbox__image__title
      .newPage__formbox__image__form
    .newPage__formbox__createbtn
      .newPage__formbox__createbtn__btn