.createPage {
  padding: 30px;
  text-align: center;
  background-color: #000099;
  &__complete {
    &__btn {
      width: 200px;
      padding: 10px;
      margin: 0 auto;
      border-radius: 20px;
      font-size: 14px;
      color: #FFFF99;
      background-color: black;
      a {
        display: block;
        color: #FFFF99;
      }
    }
  }
}
