.newPage {
  &__title {
    
  }
  &__formbox {
    padding: 30px;
    &__campname {
      padding: 10px;
      &__title {

      }
      &__form {
        
      }
    }
    &__address {
      padding: 10px;
      &__title {

      }
      &__form {

      }
    }
    &__capacity {
      padding: 10px;
      &__title {

      }
      &__form {

      }
    }
    &__price {
      padding: 10px;
      &__title {

      }
      &__form {

      }
    }
    &__workhour {
      padding: 10px;
      &__title {

      }
      &__form {
        &__time {

        }
      }
    }
    &__nearstore {
      padding: 10px;
      &__title {

      }
      &__form {

      }
    }
    &__level {
      padding: 10px;
      &__title {

      }
      &__form {

      }
    }
    &__image {
      padding: 10px;
      &__title {

      }
      &__form {

      }
    }
    &__createbtn {
      padding: 10px;
    }
  }
}