.vucamp {
  background-color: gray;
  &__main {
    &__camp {
      padding: 50px;
      &__id {
      }
      &__img {
      }
      &__name {
      }
      &__address {
      }
      &__capacity {
      }
      &__price {
      }
      &__level {
      }
      &__workHour {
      }
      &__nearStore {
      }
    }
  }
  &__under {
    &__btnbox {
      padding: 50px;
      &__return {
        width: 300px;
        padding: 10px;
        margin: 0 auto;
        border-radius: 20px;
        font-size: 20px;
        color: white;
        background-color: orange;
        text-align: center;
        a {
          color: white;
        }  
      }
    }
  }
}