.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: yellow;
  padding: 20px;
  &__leftbox {
    &__logo {
      padding: 0 30px;
    }
  }
  &__rightbox {
    display: flex;
    justify-content: flex-end;
    &__newuser {
      padding: 10px;
    }
    &__login {
      padding: 10px;
    }
    &__menu {
      display: flex;
      a {
        color: yellow; 
      }
      &__what {
        padding: 10px;
      }
      &__index {
        padding: 10px;
      }
      &__create {
        padding: 10px;
      }
      &__logout {
        padding: 10px;
      }
    }
  }
}

.footer {
  width: 100vw;
  height: 0;
  padding-top: calc(675 / 2388 * 100%);
  background-image: url("vucamp_footer2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &__logo {
    padding: 50px;
    text-align: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}