.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: yellow;
  padding: 20px;
  &__leftbox {
    &__logo {
      padding: 0 30px;
    }
  }
  &__rightbox {
    display: flex;
    justify-content: flex-end;
    &__newuser {
      padding: 10px;
    }
    &__login {
      padding: 10px;
    }
    &__menu {
      display: flex;
      a {
        color: yellow; 
      }
      &__what {
        padding: 10px;
      }
      &__index {
        padding: 10px;
      }
      &__create {
        padding: 10px;
      }
      &__logout {
        padding: 10px;
      }
    }
  }
}

.footer {
  background-color: black;
  &__logo {
  }
}