.topPage {
  // background-color: gray;
  height: 100%;
  &__top {
    &__title {
      padding: 10px;
      color: white;
      font-size: 32px;
    }
  }
  &__main {
    padding: 50px;
    &__centerBtn {
      border-radius: 20px;
      font-size: 20px;
      color: white;
      background-color: orange;
      text-align: center;
      &__title {
        &__top {
        }
        &__under {
        }
      }
    }
  }
  &__under {

  }
}